@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REMOVER SETINHAS INPUT NUMBER */
/* Chrome, Edge, Safari */
.qtd::-webkit-outer-spin-button,
.qtd::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.qtd {
  -moz-appearance: textfield;
}

/* HEADER */
header{
    background-color: rgb(128, 128, 128);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.dashboard{
    display: flex;

}

.card{
    background-color: ligh;
    margin-right: 10px;
}

/* POPOVERS */

/* ITENS MANUAIS */
.itensManuaisPopover{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;

    display: none;
    justify-content: center;
    align-items: center;
}
#itensManuais{
    background-color: white;
    border-radius: 10px;
    width: 50%;
    height: 50%;
}

/* MAIN */

.conteiner{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
    height: 95.5vh;

}

/* FORMULARIO */
.form{
    background-color: lightpink;
    grid-area: 1 / 1 / 3 / 2;
}

.form > h2{
    text-align: center;
}

#pedidoForm{
    display: flex;
    flex-flow: column nowrap;
    height: 96%;
}

.cliente{
    display: flex;
    flex-flow: column nowrap;
    background-color: aqua;
    padding: 10px;
}

.manual{
    background-color: bisque;
    margin-top: 10px;
}

#btnPopoverItens{
    cursor: pointer;
}

.cardapio{
    background-color: gold;
    margin-top: 10px;
}

.item-cardapio {
    cursor: grab;
  }
  
.item-cardapio:active {
    cursor: grabbing;
  }
  
.item-cardapio button,
.item-cardapio input {
    cursor: default;
  }

#addProduto{
    cursor: pointer;
}

.criar{
    background-color: antiquewhite;

    display: flex;
    flex-flow: column nowrap;
    margin-top: 10px;
}

#criarPedido{
    display: block;
    margin: auto;
}



/* LISTA DE PEDIDOS */
.lista{
    background-color: lightcyan;
    width: 100%;
    
}

/* KANBAN */
.kanban{
    background-color: lightcyan;
    display: flex;
    grid-area: 2 / 2 / -1 / -1;

}

.coluna{
    height: 150px;
    margin: 10px;
    background-color: lightcoral;
}