@charset "UTF-8";

/* LISTA DE CLIENTES */
.listaClientes{
    background-color: var(--cor-primaria-fundo);
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 10px;
}

.clientesConteiner{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--cor-primaria-clara);
    border-radius: 5px;
    width: 100%;
    height: 88%;
    overflow-y: auto;
    margin-top: 10px;
    padding: 10px;    
}

.cliente-card{
    background-color: white;
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px;
}

.acoes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
}

.acoes > .ver{
    width: 30%;
    margin-right: 5px;
    padding: 5px;
}

.acoes > .editar{
    width: 30%;
}