@charset "UTF-8";

/* FORMULARIO */
.form {
    background-color: var(--cor-primaria-clara);
    width: 100%;
    height: 448px;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* FORM */
#clienteForm {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* BLOCO CLIENTE */
.informacoesCliente {
    display: flex;
    flex-direction: column;

    background-color: var(--cor-primaria-fundo);
    border-radius: 8px;
    padding: 8px;

    gap: 5px;
}

/* SUBTÍTULO */
.informacoesCliente h3 {
    text-align: center;
    font-size: 1em;
    margin-bottom: 3px;
}

/* LABEL */
.informacoesCliente label {
    font-size: 1em;
    font-weight: bold;
}

/* INPUT */
.informacoesCliente input {
    width: 100%;
    padding: 4px;
    font-size: 0.7rem;

    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color 0.2s, box-shadow 0.2s;
}

/* HOVER INPUT */
.informacoesCliente input:hover {
    border-color: var(--cor-primaria-media);
}

/* FOCUS INPUT */
.informacoesCliente input:focus-visible {
    border-color: var(--cor-primaria-media);
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

/* BOTÃO */
.cadastrar {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.cadastrar > button {
    width: 70%;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    background-color: var(--cor-primaria-media);
    color: white;
    font-weight: bold;
    border: none;
    font-size: 1em;
    transition: 0.2s;
}

/* HOVER BOTÃO */
.cadastrar > button:hover {
    background-color: white;
    color: var(--cor-primaria-media);
    border: 1px solid var(--cor-primaria-media);
}

/* CLICK BOTÃO */
.cadastrar > button:active {
    transform: scale(0.98);
}

/* SESSÃO */
.sessaoBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--cor-primaria-escura);
    color: white;

    margin-top: 5px;
    padding: 6px;
    border-radius: 6px;

    cursor: pointer;
    font-size: 0.8rem;
    text-align: center;
    border: none;
    font-family: inherit;
    width: 100%;

    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

/* HOVER SESSÃO */
.sessaoBtn:hover {
    background-color: white;
    color: var(--cor-primaria-escura);
    border: 1px solid var(--cor-primaria-escura);
}

/* CLICK SESSÃO */
.sessaoBtn:active {
    transform: scale(0.98);
}