@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;

  }

  :root {
    /* ── Verdes principais ── */
    --cor-primaria: #2D6A4F; 
    --cor-primaria-escura: #1B4332; 
    --cor-primaria-media:  #52B788; 
    --cor-primaria-clara:  #D8F3DC; 
    --cor-primaria-fundo:  #F0FAF4; 
  
  }
  
/* HEADER */
header{
    background-color: var(--cor-primaria);
    color: white;
    display: flex;
    flex-flow: row nowrap;
    height: 55px;
    background: var(--cor-primaria);
    padding: 12px 20px;
    align-items: center;
    justify-content: space-between;
}
  
  .header h1 {
    font-size: 18px;
    font-weight: 500;
    color: #E6F1FB;
    margin: 0;
  }
  
  .relogio-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;

  }
  
  #relogio {
    font-size: 22px;
    font-weight: 500;
    font-family: monospace;
    letter-spacing: 2px;
    background: var(--cor-primaria-clara);
    color: var(--cor-primaria);
    padding: 4px 14px;
    border-radius: 8px;
  }
  
  #dataHoje {
    font-size: 11px;
    color: var(--cor-primaria-clara);
  }


/* MAIN */

.conteiner{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    height: calc(100vh - 55px);

}




